<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.polyvi.xface.extension.telephony"
    version="1.0.0">
    <name>Telephony</name>
    <description>xFace Telephony Extension</description>
    <license>GPLv3</license>
    <keywords>cordova,xface,telephony</keywords>

    <js-module src="www/Telephony.js" name="Telephony">
        <clobbers target="xFace.Telephony" />
    </js-module>

	<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Telephony">
                <param name="android-package" value="com.polyvi.xface.extension.XTelephonyExt"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CALL_PHONE" />
        </config-file>
		<js-module src="www/android/Telephony.js" name="Telephony">
            <clobbers target="xFace.Telephony" />
        </js-module>
		<js-module src="www/android/CallRecord.js" name="CallRecord">
            <clobbers target="window.CallRecord" />
        </js-module>
		<js-module src="www/android/CallRecordTypes.js" name="CallRecordTypes">
            <clobbers target="window.CallRecordTypes" />
        </js-module>
        <source-file src="src/android/XTelephonyExt.java" target-dir="src/com/polyvi/xface/extension" />
     </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Telephony">
                <param name="ios-package" value="XTelephonyExt"/>
            </feature>
        </config-file>

        <header-file src="src/ios/private/XTelephonyExt_Privates.h" />
        <header-file src="src/ios/XTelephonyExt.h" />
        <source-file src="src/ios/XTelephonyExt.m" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Telephony">
                <param name="wp-package" value="Telephony"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_PHONEDIALER"/>
        </config-file>

        <source-file src="src/wp/XTelephonyExt.cs" />
    </platform>
</plugin>